RewriteEngine On

# لو الطلب على public خليه زي ما هو
RewriteRule ^public/ - [L]

# لو الملف موجود في public خليه يشتغل
RewriteCond %{DOCUMENT_ROOT}/public/$1 -f
RewriteRule ^(.*)$ public/$1 [L]

# لو فولدر
RewriteCond %{DOCUMENT_ROOT}/public/$1 -d
RewriteRule ^(.*)$ public/$1 [L]

# باقي الطلبات تروح ل Laravel
RewriteRule ^(.*)$ public/index.php [L]